html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: Montserrat;
  background-color: #0B1F26;
  color: #F2F2F2;
}

body .landing {
  width: 100%;
  height: 100vh;
  /* Style the header links */
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  /* Float the link section to the right */
}

body .landing .background {
  width: 100%;
  height: 100vh;
  background: url(../img/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .landing .background .man {
  width: 100%;
  height: 100vh;
  background: url(../img/man.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .landing .background .man .overlay {
  width: 100%;
  height: 100vh;
  background: rgba(11, 31, 38, 0.3);
}

body .landing .background .man .overlay .text {
  width: 60%;
  height: 40vh;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  top: 25vh;
  left: 10%;
}

body .landing .background .man .overlay .text .overline {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  position: relative;
}

body .landing .background .man .overlay .text .overline #line {
  float: left;
  border-style: none;
  border-top: 7px solid #C0A16A;
  width: 30%;
  position: relative;
  top: 2px;
}

body .landing .background .man .overlay .text .overline h3 {
  color: #C0A16A;
  position: relative;
  left: 3%;
  font-size: 20px;
}

body .landing .background .man .overlay .text h2 {
  font-size: 80px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body .landing .background .man .overlay .text .scrolldown {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  position: absolute;
  top: 14rem;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

body .landing .background .man .overlay .text .scrolldown:hover #text {
  position: relative;
  top: -10px;
}

body .landing .background .man .overlay .text .scrolldown:hover img {
  position: relative;
  top: 16px;
}

body .landing .background .man .overlay .text .scrolldown a {
  font-weight: bold;
  font-size: 20px;
  color: #B7B7B7;
}

body .landing .background .man .overlay .text .scrolldown a img {
  position: relative;
  top: 0;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

body .landing .background .man .overlay .text .scrolldown #text {
  position: relative;
  top: 6px;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

body .landing .header {
  z-index: 1;
  display: inline;
  top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body .landing a {
  float: left;
  color: #F2F2F2;
  text-align: center;
  padding: 12px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

body .landing a.logo {
  font-size: 35px;
  font-weight: light;
  position: relative;
  left: 5rem;
}

body .landing a.logo:hover {
  font-size: 35px;
  font-weight: light;
  position: relative;
  left: 5rem;
}

body .landing .header-right {
  float: right;
  position: relative;
  right: 4rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body .landing .header-right a:hover {
  color: #C0A16A;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

body .aboutus {
  width: 100%;
  height: 100vh;
  background: #0B1F26;
  vertical-align: middle;
}

body .aboutus .left-content {
  position: relative;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100vh;
  float: left;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

body .aboutus .left-content #number {
  margin: 10% 10%;
  padding: 0;
  font-weight: bold;
  color: #25383F;
  font-size: 380px;
  position: absolute;
}

body .aboutus .left-content #number p {
  margin: 0;
  padding: 0;
}

body .aboutus .left-content #line {
  position: relativ;
  top: 40%;
  left: 31%;
  color: #C0A16A;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  position: relative;
  text-align: left;
}

body .aboutus .left-content #line hr {
  float: left;
  border-style: none;
  border: 2px solid #C0A16A;
  width: 15%;
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 0;
}

body .aboutus .left-content #line p {
  color: #C0A16A;
  position: absolute;
  left: 21%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body .aboutus .left-content h2 {
  margin: 0 25%;
  padding: 0;
  font-weight: normal;
  font-size: 80px;
  float: left;
  position: absolute;
  top: 53%;
  color: #F2F2F2;
}

body .aboutus .left-content #arrow {
  color: #C0A16A;
  float: left;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  position: relative;
  top: 65%;
  left: 25%;
  text-align: left;
  width: 500px;
  display: block;
}

body .aboutus .left-content #arrow p {
  color: #C0A16A;
  position: absolute;
  font-size: 25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body .aboutus .left-content #arrow img {
  position: absolute;
  top: 5px;
  margin: 0 25%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

body .aboutus .left-content #arrow img:hover {
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

body .aboutus .right-content {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100vh;
  float: right;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

body .aboutus .right-content img {
  max-height: 90%;
  max-width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body .store {
  width: 100%;
  height: 200vh;
  background: #0B1F26;
}

body .store .storeview {
  width: 100%;
  height: 100vh;
  background: #0B1F26;
  vertical-align: middle;
}

body .store .storeview .left-content {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100vh;
  float: left;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

body .store .storeview img {
  max-height: 90%;
  max-width: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body .store .storeview .right-content {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100vh;
  float: right;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

body .store .storeview .right-content #number {
  margin: 10% 15%;
  padding: 0;
  font-weight: bold;
  color: #25383F;
  font-size: 380px;
  position: absolute;
}

body .store .storeview .right-content p {
  margin: 0;
  padding: 0;
}

body .store .storeview .right-content #line {
  color: #C0A16A;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  position: relative;
  top: 26%;
}

body .store .storeview .right-content #line hr {
  float: right;
  border-style: none;
  border: 2px solid #C0A16A;
  width: 20%;
  position: absolute;
  top: 12px;
  left: 10%;
  margin: 0;
  padding: 0;
}

body .store .storeview .right-content #line p {
  color: #C0A16A;
  position: absolute;
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  float: left;
}

body .store .storeview .right-content .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  float: left;
  text-align: left;
  position: relative;
  top: 30%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body .store .storeview .right-content .text h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 80px;
  float: left;
  position: absolute;
  top: 30px;
  color: #F2F2F2;
}

body .store .storeview .right-content .text p {
  float: right;
  font-size: 25px;
  position: absolute;
  top: 140px;
  margin: 0;
  padding: 0;
}

body .store .storeview .right-content #arrow {
  color: #C0A16A;
  float: left;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  position: relative;
  top: 55%;
  text-align: left;
  width: 500px;
  display: block;
  margin: 0;
  padding: 0;
}

body .store .storeview .right-content #arrow p {
  font-size: 25px;
  float: left;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body .store .storeview .right-content #arrow img {
  position: relative;
  top: 5px;
  margin: 0 20%;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

body .store .storeview .right-content #arrow img:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .store .feature {
  width: 100%;
  height: 100vh;
  background: #0B1F26;
  position: relative;
  top: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .store .feature .headline {
  position: absolute;
  top: 10vh;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

body .store .feature .headline h2 {
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body .store .feature .headline hr {
  border: 2px solid #C0A16A;
  width: 10%;
}

body .contactus {
  width: 100%;
  height: 100vh;
  background: #0B1F26;
}
/*# sourceMappingURL=main.css.map */