* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #0B1F26;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: Montserrat;
  scroll: smooth;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
}

body #bg {
  position: absolute;
  top: 0px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  z-index: -10;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body #nav {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
}

body #nav #logo {
  color: #F2F2F2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0.3s ease-in-out;
          transition-delay: 0.3s ease-in-out;
}

body #nav #logo.close {
  color: #C0A16A;
}

body #nav #logo h4 {
  font-weight: normal;
}

body #nav #nav-links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

@media (min-width: 1000px) {
  body #nav #nav-links {
    width: 30%;
  }
}

@media (max-width: 700px) {
  body #nav #nav-links {
    position: absolute;
    height: 100vh;
    top: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    z-index: -1;
  }
  body #nav #nav-links.show {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  body #nav #nav-links::after {
    content: "";
    background: #0B1F26;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  body #nav #nav-links #nav-item {
    opacity: 0;
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }
  body #nav #nav-links #nav-item:nth-child(1) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  body #nav #nav-links #nav-item:nth-child(2) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  body #nav #nav-links #nav-item:nth-child(3) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  body #nav #nav-links #nav-item:nth-child(4) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  body #nav #nav-links #nav-item.show {
    opacity: 1;
  }
}

body #nav #nav-links a {
  color: #F2F2F2;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 15px;
}

@media (min-width: 1000px) {
  body #nav #nav-links a {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  body #nav #nav-links a:hover {
    color: #C0A16A;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 15px;
  }
}

body #nav #nav-links li {
  list-style: none;
}

body #nav #burger {
  cursor: pointer;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s ease-in-out;
          transition-duration: 0.2s ease-in-out;
}

@media (min-width: 1000px) {
  body #nav #burger {
    display: none;
  }
}

@media (min-width: 700px) {
  body #nav #burger {
    display: none;
  }
}

@media (max-width: 700px) {
  body #nav #burger {
    display: block;
  }
  body #nav #burger.close #line {
    background-color: #C0A16A;
  }
}

body #nav #burger #line {
  width: 30px;
  height: 3px;
  background-color: #F2F2F2;
  margin: 7px;
}

body section {
  position: relative;
  height: 100vh;
}

body .home {
  z-index: 0;
  position: relative;
  top: 0vh;
  height: 100vh;
  width: 100%;
}

body .home .paragraph {
  position: relative;
  top: 25vh;
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
  overflow: visible;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 700px) {
  body .home .paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (max-width: 700px) {
  body .home .paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

body .home .paragraph p {
  width: 100%;
  float: left;
  padding: 0;
  padding-left: 50px;
  margin: 0;
  position: relative;
  color: #C0A16A;
  font-weight: 600;
  font-size: 25px;
}

@media (max-width: 700px) {
  body .home .paragraph p {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
}

body .home #headline {
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45vh;
  left: 15%;
  color: #F2F2F2;
  font-size: 60px;
  font-weight: 500;
  width: 70%;
}

@media (max-width: 700px) {
  body .home #headline {
    font-size: 55px;
    top: 45vh;
  }
}

body .home .scrolldown {
  position: absolute;
  top: 70vh;
  left: 15%;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

@media (min-width: 1000px) {
  body .home .scrolldown {
    top: 60vh;
  }
}

@media (max-width: 700px) {
  body .home .scrolldown {
    top: 70vh;
  }
}

body .home .scrolldown a {
  position: absolute;
  top: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #F2F2F2;
  cursor: pointer;
}

body .home .scrolldown img {
  position: absolute;
  left: 140px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

body .home .scrolldown img:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
/*# sourceMappingURL=main.css.map */